@page
@model IndexModel
@{ViewData["Title"] = "Inicio";}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Este projeto também possui uma API! <br /> <br />
        <a href="/swagger">Acessar API</a>
    </p>
</div>
