@model List<WebAPI.Models.Usuario>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>Nome</td>
            </tr>
        </tbody>
    </table>
</div>