@using WebAPI.DTOs
@model UsuarioDTO
@{
    ViewData["Title"] = "Cadastro de Usuário";
}


<a class="btn btn-secondary" asp-controller="Usuario" asp-action="Listar">Voltar</a>
<h2 class="text-center">Preencha os campos abaixo para cadastrar um usuário</h2>

<form asp-controller="Usuario" asp-action="Cadastrar" method="post">
    
    <h3>Nome: </h3>
    <input asp-for="Nome" class="form-control" placeholder="Digite o nome" required />
    <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>